.Settings-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Settings-footer {
  position: fixed;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}