.Tournaments-page {
  min-height: 100vh;
}
.TournamentsCreate-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TournamentsCreate-nameWrapper {
  position: relative;
  width: 95vw;
  height: 50px;

  margin: 10% 0 8% 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.TournamentsCreate-iconWrapper {
  position: absolute;
  top: -55px;
}

.TournamentsCreate-playersList {
  margin-bottom: 140px;
}

.TournamentsCreate-footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TournamentsCreate-infoBox {
}