.TournamentsDetails-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TournamentsDetails-list {
	margin-bottom: 150px;
}

.TournamentsDetails-footer {
	position: fixed;
	bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }