.Players-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Players-playersList {
	margin-bottom: 150px;
}

.Players-footer {
	position: fixed;
	bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

