.PlayersEdit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PlayersEdit-avatarWrapper {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.PlayersEdit-avatar {
  margin: 400px;
}

.PlayersEdit-shuffleAvatar {
  position: absolute;
  top: -15px;
  right: -15px;
}

.PlayersEdit-nameInputWrapper {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.PlayersEdit-nameInput {
  height: 40px;
  width: 80%;

  border: 0;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgba(23, 185, 162, 1);
}

.PlayersEdit-nameInput::placeholder {
  color: rgba(99, 99, 99, 0.4)
}

.PlayersEdit-iconWrapper {
  position: absolute;
  top: -55px;
}

.PlayersEdit-playersList {
  margin-bottom: 140px;
}

.PlayersEdit-footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}