body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAFFFA;
}
.CurrentPage {
  background-color:rgba(8, 159, 137, 1);
}
.PageGraphics {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100vw;
  max-height: 50vh;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
