.NotFound-svg {
    height: 100px;
    margin: 50% 30px 30px;
    padding-left: 5%;
}
.NotFound-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #5D92A7;
}
